#user-pass-reset .form-submit {
   background: url("/sites/all/themes/fusion/sm_appliance/css/../images/black-button.jpg") repeat scroll 0 0 transparent;
   border: 1px solid #989A99;
   border-radius: 5px 5px 5px 5px;
   color: #FFFFFF;
   font-size: 12px;
   height: 25px;
   text-transform: uppercase;
   width: 70px;
}