#content .content-inner{
position:relative;
}
#block-system-main{
margin-top:50px;
}

#block-block-30{
position:absolute;
bottom:-8px;
margin-bottom:0px;
}

#content-tabs-inner ul.primary{
display:none;
}
#block-system-main .content .order-pane{
display:none;
}
#block-system-main .content .order-pane.pos-left, #block-system-main .content .order-pane.abs-left{
display:block;
}
#pid-admin-store-orders-view h1.title{
	margin-top:10px;
}
#pid-admin-store-orders-view #block-system-main{
	margin-top:0px;
}

.view-id-uc_orders th{
	text-transform:uppercase;
	padding:5px;
	border:1px solid #000;
	background:#AAA;
}
.view-id-uc_orders th a{
	color:#000;
	font-weight:bold;
}