#block-block-16.grid16-4 {width: 210px;}

#content-inner {background: url("/sites/all/themes/fusion/sm_appliance/images/footerlinebg.png") no-repeat scroll center 0 transparent;
    padding: 15px 0 0;
    margin-bottom: 20px;
    background-position:bottom;
}