#modal-content #user-login ul li.first{display:none;}div.modal-forms-modal-content .popups-container ul li.first{display:none;}
div.modal-forms-modal-content .popups-container ul li.first{display:block !important;}div.modal-forms-modal-content .popups-container ul li{list-style:none;}.ie9 #uc-cart-checkout-form span.fieldset-legend{margin-top:-6px;}
